// Import element plus styles
@use './element-variable.scss' as *;

body {
  font-family: Helvetica, Arial, sans-serif;
  
  h1 {
    font-size: 56px;
    font-weight: 600;
    color: black;
  }

  .el-button--primary {
    background-color: rgb(105, 255, 71);
    border-color: rgb(105, 255, 71);
    color: black;
  }
  
  .el-button--primary:hover {
    background-color: black;
    border-color: black;
    color: rgb(105, 255, 71);
  }
}